*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
  
  --cor-fundo: #121111;
  --cor-header: rgb(216, 201, 30);
  --cor-sombra:rgba(7, 7, 7, 0.562) 0px 5px 10px;
  --fonte: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
 }
 .concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
border-top: 20px;
 display: flex;
 flex-direction: row;  
 justify-content: space-around;
 background: var(--cor-fundo);
 padding-left: 1rem;
 padding-bottom: 0.5rem;
 border-radius: 5px;
 color: var(--cor-header)
  
}
.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto img{

    padding-top: 0.3rem;
    width: 115px;
    height: 128px;
    border-radius: 10px;
    padding-bottom: 0.3rem;
    
}
nav{
    display: flex;
    gap: 1rem;
    margin-right: 4rem;
    height: inherit;
    align-items: center;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: yellow;

}
nav .link{
    position: relative;
   transition: all .8s; 
}

nav .link:hover{
    /*color: var(--cor-header);*/
}
nav .link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: tomato;
    transition: width .8s;
}
nav .link:hover::before,
nav .link.active::before{
    width: 100%;
   
}

main{
    margin-top:  0.5rem;
    display: flex;
     
}
.title{
    text-align: center;
    margin-bottom: 1rem;
}
.title::after{
    content: '';
    width: 150px;
    height: 2px;
    background: currentColor;
    display: block;
    margin:  2px auto;

}
.section-1{
    width: 50%;
    border-right: 0.1rem solid;
    padding: 15px;
}
.section-2{
    width: 50%;
    padding: 15px;
}
.section-1,.section-2{

     box-shadow:var(--cor-sombra);
     border-radius: 8px;
     
}
.habilidades ul{
    list-style: none;
    width: 100%;
    margin-top: 1.5rem;
}
.habilidades ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.habilidades ul li:hover{
    color: #431b1b; text-shadow: 0 0 0.2em rgb(33, 33, 33), 0 0 0.2em rgb(217, 220, 29);
text-decoration:dotted;

}
.logo-habilidade{
    display: flex;
    margin-bottom: 0.3rem;
    width: 50%;
    justify-content: center;
}
.habilidades ul li h5{
    width: 50%;
   
}
.logo-habilidade img{
    width: 28px;

}

.descricao{
   text-align: justify;
   margin: 0.5rem;
   font-size: 16px;

   
}
.experiencia{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contato{
    margin-top: 2rem;
}
.contato ul{
   list-style: none;
    width: 100%;
    margin-top: 1.5rem;
}
.contato ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contato ul li h5{
    width: 50%;
    font-size: 16px;
}
.logo-contato{
    display: flex;
    margin-bottom: 0.3rem;
    width: 50%;
    justify-content: center;
}
.logo-contato img{
    width: 24px;
}
footer{
    display: flex;
    justify-content: space-evenly;
   
    padding-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}
footer a{
    margin-left: 1.5rem;
}
footer img{
    width: 32px;
}

@media screen and (max-width: 894px) {
	.contato ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

}
@media screen and (max-width: 894px) {
header{
 display:flex;
 flex-direction: column;  

}
nav{
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}
}
@media screen and (max-width: 646px) {
	.contato ul li h5{
     overflow-wrap: break-word;
    }
main{
    flex-direction: column;
   
}
.section-1, .section-2{
    width: 100%;
    border: none;
}
footer{
    flex-direction: column;
}

}